#heading {
    text-transform: uppercase;
    color: black;
    font-weight: normal;
    margin-top: 10%;
    margin-left: 20%;
    position: relative;
}

#formcontact {
    position: relative;
    margin-top: 45px;
    margin-left: 20%;
}

.form-card {
    text-align: left;
}

#formcontact input[class="contact"],
#formcontact textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 50px;
    margin-top: 2px;
    width: 46%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
}

#formcontact input:focus,
#formcontact textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#formcontact .action-button {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: -20px;
    margin-left: 578px;
    float: left;
}

#formcontact .action-button:hover,
#formcontact .action-button:focus {
    background-color: #404040;
    color: white;
}


@media screen and (min-width:1600px){

  #heading {
    margin-top: 12%;
    margin-left: 20%;
    position: relative;
}


  #formcontactformcontact .action-button {

      margin-left: 40.7%;

  }
}
