* {
    margin-left: 0;
    padding: 1px;
    font-family: Poppins;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    z-index: 100000;
    width: 100%;
    height: 15%;
    transition: 0.2s;
    margin-left: -0.5%;
}

body
{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.produit
{
  margin-left: -200%;
}

.panier
{
  margin-left: -415%;
}

nav.scroll{
    background: white;
    height: 10%;
    margin-top: -0.7%;
}

nav.scroll img[class="logoSite"]
{
  width: 23%;
}

.logo img
{
  width: 35%;
  /* margin-top: -1%; */
}

.nav-links{
    display : flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    position: relative;
    list-style: none;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color:black;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-links a:hover{
    border-radius: 5px;
    color: #DCDCDC;
    /*text-shadow: 1px 1px black;*/
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
          right: 0px;
          height: 85vh;
          top: 15vh;
          background-color: rgb(172, 30, 68);
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.bande
{
  position: absolute;
  width:100%;
  background-color: #eee3d3;
  margin-top: 9.27%;
  height: 20%;
  text-align: center;
  color: #404040;
  border-top: 1px solid black;
  margin-left: -0.2%;
}

nav.scroll div[class="bande"]
{
  margin-top: 6.7%;
  font-size: 1em;
  height: 30%;
}

.bande h5:before
{
  content: '';
  animation: animate infinite 15s;
}

.bande h5
{
  margin-top: 0.15%;
}

@keyframes animate
{
  25%
  {
    content: 'Nos produits proviennent d\2019Italie';
  }
  50%
  {
    content: '1€ ➔ 1 point de fidélité, 200 points -20% sur votre prochain panier';
  }
  75%
  {
    content: 'Ventes de vêtements, bijoux et accessoires pour femme en lignes';
  }
  100%
  {
    content: 'Paiement avec PayPal';
  }
}
