.cadreP {
  background-color: #eee3d3;
  position: absolute;
  margin:11.5% 2% 0 24%;
  width: 73%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h1{
    font-family: 'Poppins', sans-serif;
    margin: 1%;
    color: #404040;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin: 2% 1.75% 4% 4%;
  float: left;
  box-shadow: 1.3px 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 200px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  min-height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 50px;
  background-color: white;
}

.tag {
  font-size: 12px;
  color: #fff;
  padding: 0px 10px;
  text-transform: uppercase;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}

.tag-teal {
  background-color: #eee3d3;
  color: black;
  font-weight: bold;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 10px;
}

.user {
  display: flex;
  margin-top: auto;
}

@media screen and (min-width:1600px){
  .cadreP {
    margin:11.5% 2% 0 20%;
    width: 73%;
  }
}
