/* body {
    font-family: 'Poppins', sans-serif;
}

button{
    display: block;
    margin: auto;
}

#connexion .login-form {
    display:block;
    width: 340px;
    margin-top: 10%;
    margin-left: 20%;
    position: absolute;
}


#inscription .login-form {
    position: absolute;
    width: 340px;
    margin:  auto;
    margin-left: 60%;
    margin-top: 10%;
}


.login-form form {

    background-color: #eee3d3;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    padding: 80px 100px ;
    position: absolute;
}

.form-control, .btn {
    min-height: 38px;
    margin-bottom: 10%;
    padding: 0px 50px;
    text-align: center;
}


.btn {
    background-color: white;
    color: #130E0A;
    margin-top: 10%;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}
.btn:hover{
  background-color: #606060;
  color: white;
  font-weight: bold;
}

.login-form h2 {
    margin: 0 0 35px;
    text-align: center;
} */


#headingI {
    text-transform: uppercase;
    color: black;
    font-weight: normal;
    margin-top: 10%;
    margin-left: 0;
    position: relative;
}

#formInfoI {
    position: relative;
    margin-top: 45px;
    margin-left: 0px;
}

.form-card {
    text-align: left;
}

#formInfoI input[class="inscr"],
#formInfoI textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 50px;
    margin-top: 2px;
    width: 46%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
}

#formInfoI input:focus,
#formInfoI textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#formInfoI .action-button {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: -20px;
    margin-left: 578px;
    float: left;
}

#formInfoI .action-button:hover,
#formInfoI .action-button:focus {
    background-color: #404040;
    color: white;
}





#headingC {
  text-transform: uppercase;
  color: black;
  font-weight: normal;
  position: relative;
  margin-top: -39.4%;
  margin-right: 40.5%;
  float: right;
}

#formInfoC {
  position: relative;
  margin-left: 50%;
  margin-top: -33.7%;
}

.form-card {
    text-align: left;
}

#formInfoC input[class="connex"],
#formInfoC textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 50px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
}

#formInfoC input:focus,
#formInfoC textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#formInfoC .action-button {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: -275px;
    float: right;
}

#formInfoC .action-button:hover,
#formInfoC .action-button:focus {
    background-color: #404040;
    color: white;
}

@media screen and (min-width:1600px){
  #headingC {
    position: relative;
    margin-top: -30.8%;
    margin-right: 42.5%;
  }

  #headingI {
    margin-top: 12%;
    margin-left: 0;
    position: relative;
}

  #formInfoC {
    position: relative;
    margin-left: 50%;
    margin-top: -26.48%;
  }

  #formInfoI .action-button {

      margin-left: 40.7%;

  }
}
