.cadreP {
    position: absolute;
    margin:11.5% 2% 0 2%;
    width: 95%;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
    background-color: #eee3d3;
}

h1{
    font-family: 'Poppins', sans-serif;
    margin: 1%;
    color: #404040;
}

/* .bout-admin {
  position: absolute;
  margin: 2% 0 0 5%;
  float: left;
} */

/* input[type="button"]{
  background-color: rgb(172, 30, 68);
  color: white;
  width: 200%;
  font-size: 1.3em;
  transition: 0.5s;
  text-decoration: none;
}

input[type="button"]:hover{
  background-color: white;
  color: rgb(172, 30, 68);
} */

body {
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: black;
}

a {
  color:  black;
  text-decoration: none;
}

.container {
  margin-top: auto;
  margin: 2% 1% 4% 4%;
  margin-bottom: auto;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: inline-block;
  padding-bottom: 2%;
}

.card {
  position: relative;
  box-shadow: 1.3px 1.3px 1.3px #000;
  overflow: hidden;
  width: 200px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  min-height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 50px;
  background-color: white;
}

.tag {
  font-size: 12px;
  color: #fff;
  padding: 0px 10px;
  text-transform: uppercase;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}

.tag-teal {
  background-color: #eee3d3;
  color: #130E0A;
  font-weight: bold;
}


.card-body p {
  font-size: 13px;
  margin: 0 0 10px;
}


.user {
  display: flex;
  margin-top: auto;
}
