body {
  line-height: 1.25;
}

table {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  position: absolute;
  margin: 12% 0 0 2%;
  width: 70%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  font-size: 1.5em;
  padding: .625em;
  text-align: center;
}

table th {
  background-color: #eee3d3;
  color: #404040;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.paie{
  position: absolute ;
  margin-top: 12%;
  margin-left: 80%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 50%;
  text-align: center;
  padding: 1% 0.5% 1% 0.5%;
  background-color: #f8f8f8;
}

input[type="button"]{
  background-color: #e21313;
  color: white;
  width: 30%;
  font-size: 1.5em;
  border-radius: 5px;
  transition: 0.5s;
  border: none;
  text-decoration: none;
}

input[type="button"]:hover{
  border: none;
  opacity: 0.6;
}

input[type="image"]{
  border-radius: 5px;
  margin-bottom: 5%;
}
input[type="image"]:hover{
  border-radius: 5px;
  opacity: 0.8;
}
.vente{
  margin-top: 3%;
  opacity: 0.5;
}
h4.protection{
  opacity: 0.8;
  margin-top: 4%;
}
.frais{
  opacity: 0.9;
}

@media screen and (min-width:1600px){
  .paie{
    margin-top: 12%;
  }
}
