.nom {
    position: absolute;
    margin-top: 10%;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.bouton {
    position: absolute;
    margin-top: 11%;
    margin-left: 0.5%;
}

.profil-gauche{
  position: absolute;
  margin-left: -0.3%;
  margin-top: 8.13%;
}

.profil-gauche .sidebar{
  position: absolute;
  display: block;
  width: 300px;
  height: 100%;
}

.profil-gauche .sidebar ul li{
  padding: 34px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  display: block;
}

.profil-gauche .sidebar ul li:hover{
  background-color: #eee3d3;
}

.profil-gauche .sidebar ul li a{
  text-decoration: none;
  color: black;
  display: block;
  width: 115%;
}

.profil-gauche .sidebar ul li a:hover{
  color: white;
  display: block;
}
