.cadreP {
  background-color: #eee3d3;
  position: absolute;
  margin:11.5% 2% 0 2%;
  width: 73%;
  margin-left: 25%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h1{
    font-family: 'Poppins', sans-serif;
    margin: 1%;
    color: #404040;
}

.bout-admin {
  position: absolute;
  margin: 2% 0 0 5%;
  float: left;
}

input[type="button"]{
  background-color: rgb(172, 30, 68);
  color: white;
  width: 200%;
  font-size: 1.3em;
  transition: 0.5s;
  text-decoration: none;
}

input[type="button"]:hover{
  background-color: white;
  color: rgb(172, 30, 68);
}

a {
  color:  black;
  text-decoration: none;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin: 2% 1.75% 4% 4%;
  float: left;
  box-shadow: 1.3px 1.3px 1.3px 1.3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 200px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  min-height: 200px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 50px;
  background-color: white;
}

.tag {
  font-size: 12px;
  color: #fff;
  padding: 0px 10px;
  text-transform: uppercase;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}

.tag-teal {
  background-color: #eee3d3;
  color: black;
  font-weight: bold;
}


button[class="afficher"]{
  border: none;
  margin-left: 38%;
  margin-top: -80%;
  background-color: #eee3d3;
  color: #5a5a5a;
}

button[type="submit"][class="btn btn-primary btn-block"]{
  border: 2px solid;
  background-color: #eee3d3;
  color: #5a5a5a;
  cursor: pointer;
  width: auto;
}

button[type="submit"][name="modif"]{
  margin-left: 75%;
  margin-top: 20%;
}

button[type="submit"][name="suppr"]{
  margin-left: -15%;
  margin-top: -92%;
}

input[name="stock"]
{
  position: relative;
  margin-left: 70%;
  margin-top: -35%;
  width: 40%;
}

#tailleA{
  visibility: hidden;
}

@media screen and (min-width:1600px){
  .cadreP {
    margin:11.5% 2% 0 20%;
  }

  .card {
    width: 250px;
  }
}
