* {
    margin-left: 0;
    padding: 1px;
    font-family: Poppins;
}

#heading {
    text-transform: uppercase;
    color: black;
    font-weight: normal;
    margin-top: 10%;
    position: relative;
}

#formInfo {
    position: relative;
    margin-top: 20px;
}

.form-card {
    text-align: left;
}

#formInfo input[class="dp"],
#formInfo textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#formInfo input:focus,
#formInfo textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#formInfo .action-button {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#formInfo .action-button:hover,
#formInfo .action-button:focus {
    background-color: #404040;
    color: white;
}
