* {
    margin-left: 0;
    padding: 1px;
    font-family: Poppins;
}

#heading {
    text-transform: uppercase;
    color: black;
    font-weight: normal;
    margin-top: 10%;
    position: relative;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input[class="caractV"],input[class="custom-file-inputP"], input[class="custom-file-inputC"],
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#msform .action-button {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #404040;
    color: white;
}

#msform .action-button-previous {
    width: 100px;
    background-color: #eee3d3;
    font-weight: bold;
    color: #404040;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #404040;
  color: white;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: black;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #673AB7;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: black;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    content: "\f13e";
}

#progressbar #personal:before {
    content: "\f007";
}

#progressbar #payment:before {
    content: "\f030";
}

#progressbar #confirm:before {
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: black;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: black;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.custom-file-inputC::-webkit-file-upload-button, .custom-file-inputP::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-inputC::before {
  content: 'Choisissez les couleurs';
  display: flex;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-inputP::before {
  content: 'Choisissez les photos';
  display: flex;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;

}

label[class="taille"] {
  display: inline-block;
  position: relative;
  margin: 15px;
  margin-left: 100px;
  padding: 20px 30px 20px 30px;
  border: 3px solid #fff;
  border-radius: 5%;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  width: auto;
  font-size: 0.8em;
  padding-right: -10%;
}

label[class="taille"]::before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  bottom: 10%;
  left: 10%;
  width: 10%;
  height: 25%;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}


label[class="taille"]:hover, input[type="checkbox"]:focus + label[class="taille"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

input[type="checkbox"]:checked + label[class="taille"] {
  background-color: #ab576c;
}

input[type="checkbox"]:checked + label[class="taille"]::before {
  background-color: #fff;
}
