body {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: black;
}

table {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  position: absolute;
  margin: 10% 0 0 25%;
  width: 65%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  text-align: center;
  font-size: 1em;
}

table th{
  font-size: 1em;
  padding: .625em;
  text-align: center;
  background-color: #eee3d3;
  color: #404040;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (min-width:1600px){
  table {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-collapse: collapse;
    position: absolute;
    margin: 11% 0 0 23%;
    width: 70%;
    table-layout: fixed;
  }
}
