* {box-sizing:border-box}

body {
    font-family: 'Poppins', sans-serif;

}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  margin: 15% 0 0 1%;
  float: left;
  border: solid #a3a3a3 0.5px;
}

.infos {
  position: absolute;
  margin: 12% 0 0 37%;
  display: block;
  width: 50%;
  margin-top: 10%;
}


.container-Detail{
  border: solid black 1px;
  margin-right: 50%;
  margin-top: 10%;
}


.detailNom{
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.detailDescr{
  display: block;
  width: 75%;
  text-align: justify;
  margin-top: 6% ;
  margin-left: 5%;
  margin-bottom: 15%;

}

h3, h5{
  margin-bottom:2%;
}

.detailCouleur{
  width: 35%;
  text-align: justify;
  margin-left: 5%;
  margin-bottom: 15%;
}

.couleur{
  width: 50%;
}

.couleurP {
  float: left;
  margin: 2px;
}


.detailTaille{
  display: block;
  width: 35%;
  text-align: justify;
  margin-left: 5%;
  margin-bottom: 6%;
}
.detailPrix{
  position: absolute;
  display: block;
  width: auto;
  padding: 0 0.5% 0 0.5%;
  margin: 35% 0 0 75%;
}


.detailPrix p {
  margin-bottom: -1.5%;
  font-size: 3em;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

.detail {
    width: 500px;
    margin-bottom: -1.5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #c2c2c2;
  opacity: 0.7;
  border: solid #a3a3a3 1px;
  border-radius: 100%;
}

input[type="button"]{
  margin-top:-55% ;
  margin-left: 80%;
}


button[type="submit"][class="ajoutPanier"]{
  background-color: #eee3d3;
  color: #404040;
  font-weight: bold;
  width: auto;
  font-size: 1.3em;
  transition: 0.5s;
  text-decoration: none;
}

button[type="submit"][class="ajoutPanier"]:hover{
  background-color: white;
  color: #404040;
}


.favoris img{
  width: 30%;
}

.favoris{
  border: none;
  margin-left: 70%;
  margin-top: 8%;
  background-color: white;
}


.suppr {
  position: absolute;
  margin-left: 75%;
  margin-top: 18%;
}

.hauteur {
  margin-top: -20%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
