/* body {
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
  font-family: "Poppins", sans-serif;
  color: black;
} */


form {
  /* background: #f0f0f0; */
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
  margin-top: 4%;
  margin-left: 22%;
  padding: 80px 0px ;
  position: relative;
}


h4[class="fieldlabels"] && h5[class="text-center"]{
    margin: 0 0 35px;
    text-align: center;
}

/* .login-form {
    display:block;
    width: 340px;
    margin-top: 10%;
    margin-left: 32%;
    position: absolute;
} */


@media screen and (min-width:1600px){
  form {
    margin-top: 6%;
    margin-left: 18%;
    padding: 80px 0px ;
    position: relative;
  }
}
