body {
  line-height: 1.25;
}

h2{
  margin-top: 11%;
  margin-left: 2%;
}

table[id="produit"] {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  position: absolute;
  margin: 1% 0 0 2%;
  width: 35%;
  table[id="produit"]-layout: fixed;
  position: absolute;
}

table[id="produit"] caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table[id="produit"] tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table[id="produit"] th,
table[id="produit"] td {
  font-size: 1em;
  padding: .625em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

table[id="produit"] th {
  background-color: #eee3d3;
  color: #404040;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  table[id="produit"] {
    border: 0;
  }

  table[id="produit"] caption {
    font-size: 1.3em;
  }

  table[id="produit"] thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table[id="produit"] tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table[id="produit"] td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table[id="produit"] td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table[id="produit"]
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table[id="produit"] td:last-child {
    border-bottom: 0;
  }
}

.paie{
  position: absolute ;
  margin-top: 1%;
  margin-left: 78%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 50%;
  text-align: center;
  padding: 1% 0.5% 1% 0.5%;
  background-color: #f8f8f8;
}

input[type="button"]{
  background-color: #e21313;
  color: white;
  width: 30%;
  font-size: 1.5em;
  border-radius: 5px;
  transition: 0.5s;
  border: none;
  text-decoration: none;
}

input[type="button"]:hover{
  border: none;
  opacity: 0.6;
}

input[type="image"]:hover{
  border-radius: 5px;
  opacity: 0.8;
}

img {
  width: 90%;
}



table[id="client"] {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  border-collapse: collapse;
  position: absolute;
  margin: 1% 0 0 40%;
  width: 30%;
  table[id="produit"]-layout: fixed;
  position: absolute;
}

table[id="client"] caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table[id="client"] tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table[id="client"] td {
  font-size: 1em;
  padding: .625em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 80%;
}

table[id="client"] th {
  font-size: 1em;
  padding: .625em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 40%;
}

table[id="client"] th {
  background-color: #eee3d3;
  color: #404040;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  table[id="produit"] {
    border: 0;
  }

  table[id="client"] caption {
    font-size: 1.3em;
  }

  table[id="client"] thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table[id="client"] tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table[id="client"] td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table[id="client"] td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table[id="produit"]
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table[id="client"] td:last-child {
    border-bottom: 0;
  }
}
