.fond {
  position: absolute;
  margin:14% 2% 0 2%;
  width: 95%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #eee3d3;
}

.bout-admin {
  position: absolute;
  margin: 11% 0 0 2%;
  float: left;
}

input[type="button"]{
  background-color: #eee3d3;
  color: #404040;
  font-weight: bold;
  width: 200%;
  font-size: 1.3em;
  transition: 0.5s;
  text-decoration: none;
}

input[type="button"]:hover{
  background-color: white;
  color: #404040;
}

body {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

a {
  color:  black;
  text-decoration: none;
}

.container {
  margin-top: auto;
  margin: 2% 1% 4% 4%;
  margin-bottom: auto;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: inline-block;
  padding-bottom: 2%;
}

.card {
  position: relative;
  box-shadow: 1.3px 1.3px 1.3px #000;
  overflow: hidden;
  width: 200px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  min-height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 50px;
  background-color: white;
}

.tag {
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 0px 10px;
  text-transform: uppercase;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
}

.tag-teal {
  background-color: #eee3d3;
  margin-bottom: 5%;
  color: black;
  /* border: 0.5px solid; */
  font-weight: bold;
}


.card-body p {
  font-size: 13px;
  margin: 0 0 10px;
}


.user {
  display: flex;
  margin-top: auto;
}


.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
